	<ion-view view-title="IPA" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-smp_ipa" class="smp_ipa page-smp_ipa">
		
			<ion-refresher pulling-text="Pull to refresh..."  on-refresh="doRefresh()"></ion-refresher>
			<div class="list card">
				<div class="item item-header item-stable item-button-right">
					Question
					<span class="badge badge-assertive">{{ current.remaining }}</span>
					<button class="button button-balanced ink"  ng-click="modal_score_open($event)"><i class="icon ion-ribbon-a"></i></button>
				</div>
				<div class="item item-text-wrap">
					<div ng-bind-html="current.question | strHTML" ></div>
				</div>
			</div>
			<div class="card">
				<div class="item item-header item-positive">
					Your choice
				</div>
				<ion-list>
					<ion-radio ng-model="choice" ng-value="'a'"><span class="item-text-wrap" ng-if="current.option_a" ng-bind-html="current.option_a | strHTML"></span></ion-radio>
					<ion-radio ng-model="choice" ng-value="'b'"><span class="item-text-wrap" ng-if="current.option_b" ng-bind-html="current.option_b | strHTML"></span></ion-radio>
					<ion-radio ng-model="choice" ng-value="'c'"><span class="item-text-wrap" ng-if="current.option_c" ng-bind-html="current.option_c | strHTML"></span></ion-radio>
					<ion-radio ng-model="choice" ng-value="'d'"><span class="item-text-wrap" ng-if="current.option_d" ng-bind-html="current.option_d | strHTML"></span></ion-radio>
			<div class="item noborder">
				<button ng-if="choice" class="button button-assertive" ng-click="check_choose(choice)">Next</button>
			</div>
				</ion-list>
			</div>
			<br/><br/>
			<script id="score.html" type="text/ng-template">
				<ion-modal-view>
					<ion-header-bar class="bar bar-header light bar-balanced">
					<div class="header-item title">Your score</div>
					<div class="buttons buttons-right header-item"><span class="right-buttons"><button class="button button-icon button-clear ion-close ink-black" ng-click="modal_score_close()"></button></span></div>
				</ion-header-bar>
					<ion-content>
						<div class="card">
							<div class="row">
								<div class="col">Correct</div>
								<div class="col text-right">{{ current.correct }}</div>
							</div>
							<div class="row">
								<div class="col">Wrong</div>
								<div class="col text-right">{{ current.wrong }}</div>
							</div>
							<div class="row">
								<div class="col">Total</div>
								<div class="col text-right">{{ current.remaining }}</div>
							</div>
							<div class="row">
								<div class="col"><button class="button button-calm ion-ios-refresh-outline icon  icon-right" ng-click="modal_score_repeat()">Repeat</button></div>
							</div>
						</div>
					</ion-content>
				</ion-modal-view>
			</script>
			<script id="congrats.html" type="text/ng-template">
				<ion-modal-view>
					<ion-content>
						<div class="padding text-center">
							<div class="padding text-center">
								<span style="font-size:64px;" class="icon {{ current.congrats_icon }}"></span>
								<h3>{{ current.congrats_text }}</h3>
							</div>
						</div>
					</ion-content>
				</ion-modal-view>
			</script>


		</ion-content>
		<!-- ./content -->
	</ion-view>
