	<ion-view view-title="Dashboard" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-dashboard" class=" page-dashboard">
		
		<div class="dashboard-panel">
			<div class="item item-title no-border item-dark">SMP</div>
			<!-- row -->
			<div class="row">
				<a class="col-33 no-border light positive-bg ink"  ng-href="#/quiz/smp_ipa" >
					<i class="icon ion-android-star" ></i>
					<p>{{ "IPA" | translate }}</p>
				</a>
			</div>
			<!-- ./row -->
			

		</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
