	<ion-view view-title="About Us" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-about_us" class="padding page-about_us">
		
<div class="text-center">
    <img class="avatar relative" ng-src="data/images/header/logo.png" />
    <p>Quiz v1.0</p>
</div>
<br/>
<div class="list card">
  <a class="item item-icon-left" ng-click="openURL('http://facebook.com/jasman.z')" >
    <i class="positive icon ion-social-facebook"></i>
    Like Us on Facebook
  </a>    
    
  <a class="item item-icon-left" ng-click="openURL('https://plus.google.com/jasman')" >
    <i class="assertive icon ion-social-googleplus"></i>
    Join us on Google+
  </a> 
  <a class="item item-icon-left" ng-click="openURL('http://twitter.com/jasmanxcrew')" >
    <i class="calm icon ion-social-twitter"></i>
   Follow me on Twitter
  </a>   
   <a class="item item-icon-left" ng-click="openURL('mailto:jasman@ihsana.com')" >
    <i class="icon ion-android-mail royal"></i>
    For Business Cooperation<br/>
    <span>
        Email: jasman@ihsana.com
    </span>
  </a>
</div>
<br/>
<div class="text-center">
    <p>&copy; 2018 <a ng-click="openURL('http://ihsana.com')" >AnaskiNet</a><br/>All Rights Reserved</p>
</div>

		</ion-content>
		<!-- ./content -->
	</ion-view>
