	<ion-view view-title="About" hide-nav-bar="false" >
		<!-- content -->
		<ion-content delegate-handle="top" lazy-scroll  id="page-about" class="padding page-about">
		 
  <div class="text-center">
    <img class="avatar relative" ng-src="data/images/header/logo.png" />
    <p>Sınav v1</p>
  </div>
 
<br/>

<div class="list card">
 
  <a class="item item-icon-left" ng-click="openURL('http://facebook.com/')" >
    <i class="positive icon ion-social-facebook"></i>
    Facebook da Beğen
  </a>
  
  <a class="item item-icon-left" ng-click="openURL('https://plus.google.com/')" >
    <i class="assertive icon ion-social-googleplus"></i>
    Google Plus Takibi
  </a>
  
  <a class="item item-icon-left" ng-click="openURL('http://twitter.com/')" >
    <i class="calm icon ion-social-twitter"></i>
   Twitterde Takip Et
  </a>
  
   <a class="item item-icon-left" ng-click="openURL('mailto:yemrekula0748@gmail.com')" >
    <i class="icon ion-android-mail royal"></i>
    Soru Gönderme Adresi<br/>
    <span>
        Email: yemrekula0748@gmail.com
    </span>
  </a>
   
</div>

<br/>
<div class="text-center">
<p>&copy; 2018 <a ng-click="openURL('http://yunusemrekula.com')" >YunusEmreKula</a><br/>Tüm Hakları Saklıdır</p>
</div>


		</ion-content>
		<!-- ./content -->
	</ion-view>
